<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Altas Oficiales</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <a href="/" class="home-button">
        <img src="/images/flecha-izquierda.png" alt="Home" class="home-icon">
    </a>
    <h1 class="mt-5">Dar de alta a vehículos oficiales</h1>
    <form th:action="@{/altaOficial}" method="post" class="mb-4">
        <label for="matricula_oficial">Introduce la matrícula</label>
        <input type="text" id="matricula_oficial" name="matricula"
               class="form-control" required pattern="[A-Z0-9]{7}"
               title="Introduzca una matrícula válida">
        <button type="submit" class="btn-primary">Dar de alta</button>
        <div th:if="${done == false}" class="alert alert-info">
            <h4>Este vehículo ya estaba dado de alta</h4>
        </div>
    </form>
    <table id="tabla1">
        <thead>
        <tr>
            <th>Matrículas de los vehículos oficiales</th>
            <th>Número de estancias este mes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mOficial : ${estanciasOficiales}">
            <td th:text="${mOficial.getKey()}"></td>
            <td th:text="${mOficial.getValue()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>