<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehículos en Parking</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <a href="/" class="home-button">
        <img src="/images/flecha-izquierda.png" alt="Home" class="home-icon">
    </a>
    <h1 class="mt-5">Vehículos en Parking</h1>

    <h2 class="mt-5">Registrar la salida de un vehículo</h2>
    <form th:action="@{/salida}" method="post" class="mb-4">
        <label for="matricula_salida">Introduce la matrícula</label>
        <input type="text" id="matricula_salida" name="matricula"
               class="form-control" required pattern="[A-Z0-9]{7}"
               title="Introduzca una matrícula válida"><button type="submit" class="btn-primary">Registrar Salida</button>
        <div th:if="${precio == null && matricula != null}" class="alert alert-info">
            <h4>El vehículo <span th:text="${matricula}"></span> no tiene registrada una entrada</h4>
        </div>
        <div th:if="${precio != null}" class="alert alert-info">
            <h4>Pago inmediato por estancia: <span th:text="${precio}"></span> €</h4>
        </div>
    </form>


    <h2>Vehículos en parking</h2>
    <table id="tabla1">
        <thead>
        <tr>
            <th>Matrícula</th>
            <th>Tipo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehiculo : ${vehiculosActuales}">
            <td th:text="${vehiculo.getMatricula()}"></td>
            <td th:text="${vehiculo.getTipo()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
